.signup-form {
    align-items: center;
    justify-content: center;
    display: flex;
}

.signup-cover{
    display: block;
    background-color:crimson;
    padding: 20px;
    text-align: center;
    margin: 10px 0px;
    border-radius: 10px;
    font-size: large;
    width: fit-content;
}

.signup-title{
    font-size: xx-large;
}

.signup-field{
    margin-top: 30px;
    align-content: center;
    height: 50px;
}

.signup-field label{
    float: left;
}

.signup-field input{
    float: right;
    border-radius: 4px;
}

.signup-form button {
    background-color:lightpink;
    border-radius: 10px;
    width: 150px;
}