.position-thumbnail {
  margin: auto;
  display: block;
  width: 100%;
  background: linear-gradient(#000020, black, red);
}

.position-link {
  margin: 10px;
}

.position-button {
  width: fit-content;
}
