.position-thumbnail {
  margin: auto;
  display: block;
  width: 100%;
  background-color: "linear-gradient(#000020, black)";
}

.position-link {
  margin: 10px;
}

.position-button {
  width: fit-content;
}
