  #players td, #players th {
    border: 1px solid #faa;
    padding: 8px;
  }
  #players tr:nth-child(even){background-color: lightcoral;}
  #players tr:nth-child(odd){background-color: #fff;}
  
  #players tr:hover {background-color: lightpink;}
  
  #players th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }

  #entire-table {
    padding: 5px;
  }

  #players {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
  }  

  a, a:hover{
    color: firebrick;
    font-family: Bradley Hand, cursive;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }

  th {
    font-family: Bradley Hand, cursive;
  }