.players td,
.players th {
  border: .1vw solid #faa;
  padding: .8vw;
  text-align: center;
  font-size: 1vw;
  width: 8vw;
}
.players tr:nth-child(even) {
  background-color: lightcoral;
}
.players tr:nth-child(odd) {
  background-color: brown;
}
.players tr:hover {
  background-color: lightpink;
}

.players th {
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.entire-table {
  padding: .5vw;
  border: .5vw solid black;
  border-radius: 1vw;
  margin: .5vw 0px;
  background-color: mistyrose;
  display: block;
}

.players {
  text-align: center;
  border-collapse: collapse;
}

.position-title {
  margin: 0;
}

.entire-table a {
  color: firebrick;
  text-decoration: none;
  font-size: 4vw;
 
}

.entire-table a:hover {
  color: red;
}

.entire-table th, li>span {
  font-family: Bradley Hand, cursive;
}

.td-position {
  position: relative;
}

.mini-table {
  position:absolute;
  display: block;
  bottom: 0;
  z-index: 10;
  background-color: teal;
  font-size: 1vw; 
  padding: .1vw;
}

.mini-table-content {
  background-color: darkgray;
  text-align: left;
  padding: .1vw;
  display: grid;
  grid-template-columns: auto auto;
}

.mini-table-info {
  display: inline-block;
  margin-right: 1vw;
  min-width: 20vw;
}

.mini-table-info p{
  margin: 0px;
}

.mini-table-info > img {
  min-width: 30vw;
}

.players th:nth-child(2), .players td:nth-child(2) {
  width: 10vw;
}
.players th:nth-child(6), .players td:nth-child(6) {
  width: 10vw;
}
.players th:nth-child(1), .players td:nth-child(1) {
  width: 2.5vw;
}
